@media screen and (min-width: 769px) and (max-width: 1536px) {
    
    div .img-de-capa {
        width: 60%;
        height: auto;
        justify-content: center;
        display: flex;
    }

    
    
}


