@media screen and (max-width: 768px) {

    * {
        box-sizing: border-box;
    }

    .img-de-capa {
        width: 80%;
        height: 40vh;
        text-align: justify;
    }
    
    #burguer {
        display: block;
        
        
    }

    #burguer:hover {
        color: white;
        padding: 5px;
    }

    

    .navbar li, ul { 
        
        list-style-type: none;
        background-color: #C00F0F;
        margin: auto;
        
        
    }

    

    
    
    

   

    
        
    }

    

    @media screen and (max-width: 900px) {
        .imagem{
             height:300px;
             width: auto;
             border-radius: 10px;
    }   
    }
    
        
        
    




@media screen and (min-width: 769px) and (max-width: 1536px) {
    .imagem {
        height: 500px;
        width: auto;
        border-radius: 10px;
        margin: auto;
    }

    div .img-de-capa {
        width: 60%;
        height: auto;
        justify-content: center;
        display: flex;
    }

    
    
}


