@charset "UTF-8";



* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "julius sans one";
}

body, html {
    background-color: #EDE9E9;
}

.box {
    display: flex;
    padding-top: 20px;
    gap: 250px;
}

div #burguer {
    background-color: #EDE9E9;
    color: #c75d5d;
    transform: translate(-100%, 10%);
    
    
    
    
    }

#burguer:hover {
    background-color: #C00F0F;
    color: #FFFF;
    border-radius: 3px;
    cursor: pointer;
    
}   

.navbar li {
    display: block;
}

.navbar li a {
    color:#fff;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-align: center;
    
}

.navbar li a:hover {
    box-shadow: 0 3px 10px 0 #ccc;
    -webkit-box-shadow: 0 3px 10px 0;
    text-shadow: 0px 0px 5px #fff;
    transition-duration: 1.3s;
}
.navbar li, ul { 
        
    list-style-type: none;
    background-color: #c75d5d;
    margin: auto;
    
    
}

ul li:hover ul{
    display: block;
}

ul ul {
    display: none;
    position: relative;
    width: 150px;
    
    
}


.Lígia h1 {
    font-size: 20px;
    color: #C00F0F;
    margin-left: 50px;
    
    
}

.Lígia h1:hover {
    background-color: #C00F0F;
    color: #fff;
    padding: 8px;
    transition-duration: 1.2s;
    border-radius: 5px;
}

.Lígia {
    text-decoration: none;
}

img {
    margin-top: 80px;
    margin-left: 60px;
}

img:hover {
    scale: 1.1;
    overflow: hidden;
    transition-duration: 1.5s;
}
.img-de-capa {
    width: 90%;
    height: auto;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
    
}

footer {
    margin-top: 80px;
    font-family: 'Courier New', Courier, monospace;
    background-color:#dedede;
}

.Lua {
    font-family: 'Courier New', Courier, monospace;
    color: #C00F0F;
    text-decoration: none;
}

.Lua:hover {
    color: #fff;
    background-color: #C00F0F;
    border-radius: 5px;
    transition-duration: 1.5s;
}

/* a artista*/
 
.box-biografia {
    display: flex;
    
}

.biografia {
    text-align: justify;
    margin-top: 250px;
    padding-left: 30px;
    padding-right: 30px;
}




/*contato*/

form {
    font-family: 'Courier New', Courier, monospace;
    border-radius: 8px;
    box-shadow: 0 1px 2px #ccc;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 70px;
    align-items: center;
    
    
}

button {
   font-family: "Julius Sans One";
    border: none;
    padding: 10px;
    width: 150px;
    border-radius: 70px;
    cursor: pointer;
    color: #333;
    background-color: rgb(179, 181, 181);
    
}

button:hover {
    background-color: #C00F0F;
    color: #FFFF;
    transition-duration: 1.5s;
    box-shadow:0 3px 10px 5px #9f9f9f;
}

input#mensagem {
    height: 200px;
    width: 450px;
    
}

input[type=text] {
    border-radius: 5px;
    height: 30px;
    width: 450px;
    border: none;
}

input[type=email] {
    border-radius: 5px;
    height: 30px;
    width: 450px;
    border: none;
}

.thanks {
    width: 200px;
    display: block;
    margin: 80px auto;

    
}

.texto-contato {
    font-family: "Julius Sans One";
    color: #C00F0F;
    text-align: center;
    padding-top: 20px;
    
}




